// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.errors
{
  font-style: italic;
  color: red;
}

p.small
{
  font-size: 12px;
}
